.container {
  position: relative;
  height: 100vh;
  background-color: #bbb;
  overflow: hidden;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  z-index: 2;
}
button {
  padding: 5px;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 5px 5px;
}
audio {
  display: none;
}
