.face {
  img {
    top: 27%;
    left: 22%;
  }
  .face1 {
    top: 32%;
    left: 29%;
    width: 108px;
    object-fit: cover;
  }
  .face2 {
    top: 41%;
    left: 30%;
    width: 71px;
    object-fit: cover;
  }
  .face3 {
    top: 43%;
    left: 33%;
    width: 54px;
    object-fit: cover;
  }
  .face4 {
    top: 36%;
    left: 32%;
    width: 93px;
    object-fit: cover;
  }
  .face5 {
    top: 36%;
    left: 35%;
    width: 83px;
    object-fit: cover;
  }
  .face6 {
    top: 35%;
    left: 30%;
    width: 110px;
    object-fit: cover;
  }
  .face7 {
    top: 22%;
    left: 31%;
    width: 115px;
    object-fit: cover;
  }
  .face8 {
    top: 30%;
    left: 29%;
    width: 107px;
    object-fit: cover;
  }
}
